{% extends "task_app/base.html" %}

{% block title %} Search Task {% endblock %}

{% block content %}
    <br>
    <a style="font-size: 2rem;" href="/tasks_list">All Task</a> <br> <br>
    <h1>Search Task</h1>
    <form method="post">
      {% csrf_token %} {{ search_form }}
      <input type="submit" value="Search" />
    </form>
    {% for task in search_tasks %}
    <li><a href="{% url 'task_detail' task.id %}">{{ task.title }}</a> -- {{ task.description }} -- {{ task.completed }} </li>
    {% endfor %} 
    <br>
{% endblock %}
