{% extends "task_app/base.html" %}

{% block title %} Task List {% endblock %}

{% block content %}
    <h1>
      You're {{request.user}} <br>
    </h1>
    <a href="/tasks_list">All Task</a> <br />
    <a href="/tasks_list/?completed=1">Completed Task</a> <br />
    <a href="/tasks_list/?completed=0">Pending Task</a> <br />
    <a href="/search_task">Search Task</a> <br>
    <a href="/create_task">Create Task</a> <br>
    <a href="/logout">Logout</a> <br> <br>
    <h2>All Task</h2>  <br>
    <ul>
      {% for task in tasks %}
      <li>
        <a href="{% url 'task_detail' task.id %}">{{ task.title }}</a> --> 
        {{ task.description }} --> <span style="color: red;"> {{ task.completed }} </span> --> {{ task.created_at }} --> {{ task.user }} || <a href="{% url 'edit_task' task.id %}">Edit</a> || <a href="{% url 'delete_task' task.id %}">Delete</a>
      </li>
      {% endfor %}
    </ul>
{% endblock %}